
body{
font-family: Arial;
background:#0b0b12;
color:white;
padding:20px;
}

h2{
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin-bottom:20px;
border-radius:8px;
border:none;
}

.card{
background:#151522;
padding:15px;
border-radius:12px;
margin-bottom:15px;
}

select{
padding:8px;
border-radius:6px;
border:none;
margin-top:10px;
background:#1f1f2e;
color:white;
}
