body{
margin:0;
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#141e30,#243b55);
color:#fff;
}

.container{
max-width:1000px;
margin:auto;
padding:60px 20px;
}

.card{
background:rgba(255,255,255,0.05);
padding:40px;
border-radius:15px;
backdrop-filter:blur(10px);
}
h1{
text-align:center;
margin-bottom:25px;
}

ul{
line-height:1.8;
}
